<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SenjuPay</a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [isAnimated]="true"
      [collapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Viagens</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="#">Motorista</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown"  data-bs-toggle="dropdown" aria-expanded="true" >
            Adiministração
          </a>
          <ul aria-labelledby="navbarDropdown" *dropdownMenu class="dropdown-menu" >
            <li><a class="dropdown-item" href="#">Usuários</a></li>
            <li><a class="dropdown-item" href="#">Recursos</a></li>
            <li><a class="dropdown-item" href="#">Parâmetros</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
